body {
  font-family: Helvetica;
  text-align: center;
  background-color: white;
}
#header {
  background-image: url("the-flatiron-building.png");
  color: white;
}
h1 {
  font-size:70px;
  font-weight:bold;
}
#topmenu p{
  color: white;
  font-size: 18px;
}
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:white; }
a:hover, a:active { text-decoration: none; color:white;}
h2 {
  font-size:32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
#newyork p{
  background-image: url("the-flatiron-building.png");
  color: white;
  font-size: 23px;
  color: white;
  font-weight:bold;
}
#navbar p{
  background-color:dimgray;
  text-align: left;
}
#trademark {
  font-size:11px;
}
